{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}


<header>
    <p class="bg-dark">Immobilier</p>
</header>

<div class="content">
   

    <div class="row p-5">

    {% for maison in maisons %}

    <div class="col-md-6 col-lg-4 p-3">
    <div class="card">
        <img class="card-img-top" src="./img/maison/{{ maison.img1 }}" alt="image maison">
        <div class="card-body">
          <h5 class="card-title">{{ maison.titre }}</h5>
          <p class="card-text">{{ maison.descriptif|u.truncate(200, '...') }}</p>
          <p class="card-text">{{ maison.localisation }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item-secondary"> {% trans %} Prix {% endtrans %}: {{ maison.prix|number_format(0, ',', '')  }} €/</li>
          <li class="list-group-item">Surface : {{ maison.surface }} m2</li>
          <li class="list-group-item">{% trans %}Pi&egrave;ces {% endtrans %}: {{ maison.pieces }}</li>
          <li class="list-group-item">{% trans %}chambres {% endtrans %}: {{ maison.chambres }}</li>
          <li class="list-group-item">{% trans %}Les plus {% endtrans %}: 

            <ul>
                   
            {% if maison.jardin == true %}
            <li>{% trans %}jardin{% endtrans %}</li>
            {% endif %}
            {% if maison.garage == true %}
            <li>garage</li>
            {% endif %}
            </ul>

                   {# ou 

           {#  
            {% if maison.jardin == true %}
            jardin 
            {% endif %}

              {% if maison.garage == true %}
               {% if maison.jardin == true %}

                  , garage
                  {% else %}
              {% endif %}
              {% endif %}
              #}

          </li>
        </ul>
        <div class="card-body text-center">
          <a href="#" class="card-link btn btn-primary">{% trans %}voir le d&eacute;tail{% endtrans %}</a> <!-- &eacute ca fait reference au é-->
        </div>
      </div>
    </div>

     {% endfor %}

     

     </div>
    </div>

{% endblock %}


{# 1: pour voir le jardin et le garage marquer dans les plus il faut mettre 1 ou autres dans phpMyAdmin et le modifier car ot la pas automatise au debut#}